<section id="content">
	<div class="content-wrap">
		<div class="container clearfix">

			<div class="grid-filter-wrap">

				<!-- Portfolio Filter
				============================================= -->
				<ul class="grid-filter" data-container="#portfolio">
					<li class="activeFilter"><a href="#" data-filter="*">Hepsini Göster</a></li>
					<li><a href="#" data-filter=".pf-rgt">RGT</a></li>
					<li><a href="#" data-filter=".pf-r">R</a></li>
					<li><a href="#" data-filter=".pf-alg">ALG</a></li>
					<li><a href="#" data-filter=".pf-rg">RG</a></li>
					<li><a href="#" data-filter=".pf-alhf">AL-HF</a></li>
				</ul><!-- .grid-filter end -->

				<div class="grid-shuffle rounded" data-container="#portfolio">
					<i class="icon-random"></i>
				</div>

			</div>

			<!-- Portfolio Items
			============================================= -->
			<div id="portfolio" class="portfolio row grid-container gutter-30 has-init-isotope" data-layout="fitRows" style="position: relative; height: 1299px;">

				<article class="portfolio-item col-md-4 col-sm-6 col-12 pf-alhf" style="position: absolute; left: 33.3333%; top: 866px;">
					<div class="grid-inner">
						<div class="portfolio-image">
							<a href="portfolio-single.html">
								<img src="~/images/al-hf-130-1.jpg" alt="Sunset Bulb Glow">
							</a>
							<div class="bg-overlay">
								<div class="bg-overlay-content dark animated fadeOut" data-hover-animate="fadeIn" style="animation-duration: 600ms;">
									<a href="~/images/al-hf-130-1.jpg" class="overlay-trigger-icon bg-light text-dark animated fadeOutUpSmall" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-lightbox="image" title="Image" style="animation-duration: 350ms;"><i class="icon-line-plus"></i></a>
									<a href="portfolio-single.html" class="overlay-trigger-icon bg-light text-dark animated fadeOutUpSmall" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" style="animation-duration: 350ms;"><i class="icon-line-ellipsis"></i></a>
								</div>
								<div class="bg-overlay-bg dark animated fadeOut" data-hover-animate="fadeIn" style="animation-duration: 600ms;"></div>
							</div>
						</div>
						<div class="portfolio-desc">
							<h3><a href="portfolio-single.html">AL - HF 130x70 </a></h3>
							<span>
								Elle Beslemeli<br />
								Ürün makinaya aparator tarafında beslenilerek, ana vida parçalama ve eritme yaparak granül hale getirir.
							</span>
						</div>
					</div>
				</article>

				<article class="portfolio-item col-md-4 col-sm-6 col-12 pf-alhf" style="position: absolute; left: 33.3333%; top: 866px;">
					<div class="grid-inner">
						<div class="portfolio-image">
							<a href="portfolio-single.html">
								<img src="~/images/al-hf-120-1.jpg" alt="Sunset Bulb Glow">
							</a>
							<div class="bg-overlay">
								<div class="bg-overlay-content dark animated fadeOut" data-hover-animate="fadeIn" style="animation-duration: 600ms;">
									<a href="~/images/al-hf-120-1.jpg" class="overlay-trigger-icon bg-light text-dark animated fadeOutUpSmall" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-lightbox="image" title="Image" style="animation-duration: 350ms;"><i class="icon-line-plus"></i></a>
									<a href="portfolio-single.html" class="overlay-trigger-icon bg-light text-dark animated fadeOutUpSmall" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" style="animation-duration: 350ms;"><i class="icon-line-ellipsis"></i></a>
								</div>
								<div class="bg-overlay-bg dark animated fadeOut" data-hover-animate="fadeIn" style="animation-duration: 600ms;"></div>
							</div>
						</div>
						<div class="portfolio-desc">
							<h3><a href="portfolio-single.html">AL - HF 120x80 </a></h3>
							<span>
								Elle Beslemeli Gazalmalı<br />
								Ürün üzerindeki düşük baskılarda gazın dışarı tahliye edilmesinde ve daha homojen rigit ürün çıkmasında fayda sağlar.
							</span>
						</div>
					</div>
				</article>


			</div><!-- #portfolio end -->

		</div>
	</div>
</section>