

<section id="page-title">

    <div class="container clearfix">
        <h1>Ürünlerimiz</h1>
        <span>Endüstriyel Geri Dönüşüm Atık</span>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Portfolio</li>
        </ol>
    </div>

</section>
<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">



            <!-- Portfolio Items
            ============================================= -->
            <div id="portfolio" class="portfolio row grid-container gutter-10 desc-sm has-init-isotope" data-layout="fitRows" style="position: relative; height: 482.688px;">

                <article class="portfolio-item col-xl-2 col-md-3 col-sm-6 col-12 pf-media pf-icons" style="position: absolute; left: 0%; top: 0px;">
                    <div class="grid-inner">
                        <div class="portfolio-image">
                            <a href="portfolio-single.html">
                                <img src="~/images/pe_pp_film.jpg" alt="Open Imagination">
                            </a>
                            <div class="bg-overlay">
                                <div class="bg-overlay-content dark not-animated" data-hover-animate="fadeIn" style="animation-duration: 600ms;">
                                    <a href="~/images/pe_pp_film.jpg" class="overlay-trigger-icon bg-light text-dark not-animated" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-lightbox="image" title="Image" style="animation-duration: 350ms;"><i class="icon-line-plus"></i></a>
                                    <a href="portfolio-single.html" class="overlay-trigger-icon bg-light text-dark not-animated" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" style="animation-duration: 350ms;"><i class="icon-line-ellipsis"></i></a>
                                </div>
                                <div class="bg-overlay-bg dark not-animated" data-hover-animate="fadeIn" style="animation-duration: 600ms;"></div>
                            </div>
                        </div>
                        <div class="portfolio-desc">
                            <h3><a href="portfolio-single.html">RGT W Serisi</a></h3>
                            <span><a href="#">PE PP Film Geri Dönüşüm (HDPE-LDPE-LLDPE-PP)</a></span>
                        </div>
                    </div>
                </article>

                <article class="portfolio-item col-xl-2 col-md-3 col-sm-6 col-12 pf-illustrations" style="position: absolute; left: 16.6658%; top: 0px;">
                    <div class="grid-inner">
                        <div class="portfolio-image">
                            <a href="portfolio-single.html">
                                <img src="~/images/baskili_film_geri_donusum_pe_pp.jpg" alt="Locked Steel Gate">
                            </a>
                            <div class="bg-overlay">
                                <div class="bg-overlay-content dark animated fadeOut" data-hover-animate="fadeIn" style="animation-duration: 600ms;">
                                    <a href="~/images/baskili_film_geri_donusum_pe_pp.jpg" class="overlay-trigger-icon bg-light text-dark animated fadeOutUpSmall" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-lightbox="image" title="Image" style="animation-duration: 350ms;"><i class="icon-line-plus"></i></a>
                                    <a href="portfolio-single.html" class="overlay-trigger-icon bg-light text-dark animated fadeOutUpSmall" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" style="animation-duration: 350ms;"><i class="icon-line-ellipsis"></i></a>
                                </div>
                                <div class="bg-overlay-bg dark animated fadeOut" data-hover-animate="fadeIn" style="animation-duration: 600ms;"></div>
                            </div>
                        </div>
                        <div class="portfolio-desc">
                            <h3><a href="portfolio-single.html">RGT TW SERİSİ></a></h3>
                            <span><a href="#">Baskılı Film Geri Dönüşüm (PE-PP)</a></span>
                        </div>
                    </div>
                </article>

                <article class="portfolio-item col-xl-2 col-md-3 col-sm-6 col-12 pf-illustrations" style="position: absolute; left: 16.6658%; top: 0px;">
                    <div class="grid-inner">
                        <div class="portfolio-image">
                            <a href="portfolio-single.html">
                                <img src="~/images/yuksek_baskili_pe_pp_geri_donusum_hdpe_ldpe_pp.jpg" alt="Locked Steel Gate">
                            </a>
                            <div class="bg-overlay">
                                <div class="bg-overlay-content dark animated fadeOut" data-hover-animate="fadeIn" style="animation-duration: 600ms;">
                                    <a href="~/images/yuksek_baskili_pe_pp_geri_donusum_hdpe_ldpe_pp.jpg" class="overlay-trigger-icon bg-light text-dark animated fadeOutUpSmall" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-lightbox="image" title="Image" style="animation-duration: 350ms;"><i class="icon-line-plus"></i></a>
                                    <a href="portfolio-single.html" class="overlay-trigger-icon bg-light text-dark animated fadeOutUpSmall" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" style="animation-duration: 350ms;"><i class="icon-line-ellipsis"></i></a>
                                </div>
                                <div class="bg-overlay-bg dark animated fadeOut" data-hover-animate="fadeIn" style="animation-duration: 600ms;"></div>
                            </div>
                        </div>
                        <div class="portfolio-desc">
                            <h3><a href="portfolio-single.html">RGT TANDEM SERİSİ</a></h3>
                            <span><a href="#">Yüksek Baskılı PE-PP Geri Dönüşüm (HDPE-LDPE-PP)</a></span>
                        </div>
                    </div>
                </article>
                <article class="portfolio-item col-xl-2 col-md-3 col-sm-6 col-12 pf-illustrations" style="position: absolute; left: 16.6658%; top: 0px;">
                    <div class="grid-inner">
                        <div class="portfolio-image">
                            <a href="portfolio-single.html">
                                <img src="~/images/raffia_nonwoven_geri_donusum_pp.jpg" alt="Locked Steel Gate">
                            </a>
                            <div class="bg-overlay">
                                <div class="bg-overlay-content dark animated fadeOut" data-hover-animate="fadeIn" style="animation-duration: 600ms;">
                                    <a href="~/images/raffia_nonwoven_geri_donusum_pp.jpg" class="overlay-trigger-icon bg-light text-dark animated fadeOutUpSmall" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-lightbox="image" title="Image" style="animation-duration: 350ms;"><i class="icon-line-plus"></i></a>
                                    <a href="portfolio-single.html" class="overlay-trigger-icon bg-light text-dark animated fadeOutUpSmall" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" style="animation-duration: 350ms;"><i class="icon-line-ellipsis"></i></a>
                                </div>
                                <div class="bg-overlay-bg dark animated fadeOut" data-hover-animate="fadeIn" style="animation-duration: 600ms;"></div>
                            </div>
                        </div>
                        <div class="portfolio-desc">
                            <h3><a href="portfolio-single.html">RGT W SH SERİSİ</a></h3>
                            <span><a href="#">Raffia Nonwoven Geri Dönüşüm (PP)</a></span>
                        </div>
                    </div>
                </article>


                <article class="portfolio-item col-xl-2 col-md-3 col-sm-6 col-12 pf-uielements pf-media" style="position: absolute; left: 66.6634%; top: 0px;">
                    <div class="grid-inner">
                        <div class="portfolio-image">
                            <a href="portfolio-single.html">
                                <img src="~/images/strec_film_geri_donusum.jpg" alt="Console Activity">
                            </a>
                            <div class="bg-overlay">
                                <div class="bg-overlay-content dark not-animated" data-hover-animate="fadeIn" style="animation-duration: 600ms;">
                                    <a href="~/images/strec_film_geri_donusum.jpg" class="overlay-trigger-icon bg-light text-dark not-animated" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-lightbox="image" title="Image" style="animation-duration: 350ms;"><i class="icon-line-plus"></i></a>
                                    <a href="portfolio-single.html" class="overlay-trigger-icon bg-light text-dark not-animated" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" style="animation-duration: 350ms;"><i class="icon-line-ellipsis"></i></a>
                                </div>
                                <div class="bg-overlay-bg dark not-animated" data-hover-animate="fadeIn" style="animation-duration: 600ms;"></div>
                            </div>
                        </div>
                        <div class="portfolio-desc">
                            <h3><a href="portfolio-single.html">RGT W SERİSİ</a></h3>
                            <span><a href="#">Streç Film Geri Dönüşüm</a></span>
                        </div>
                    </div>
                </article>

                <article class="portfolio-item col-xl-2 col-md-3 col-sm-6 col-12 pf-graphics pf-uielements" style="position: absolute; left: 33.3317%; top: 0px;">
                    <div class="grid-inner">
                        <div class="portfolio-image">
                            <a href="#">
                                <img src="~/images/kirilmis_sise_capagi_hdpe_pe_abs_ps.jpg" alt="Mac Sunglasses">
                            </a>
                            <div class="bg-overlay">
                                <div class="bg-overlay-content dark animated fadeOut" data-hover-animate="fadeIn" style="animation-duration: 600ms;">
                                    <a href="~/images/kirilmis_sise_capagi_hdpe_pe_abs_ps.jpg" class="overlay-trigger-icon bg-light text-dark animated fadeOutUpSmall" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-lightbox="iframe" style="animation-duration: 350ms;"><i class="icon-line-play"></i></a>
                                    <a href="portfolio-single.html" class="overlay-trigger-icon bg-light text-dark animated fadeOutUpSmall" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" style="animation-duration: 350ms;"><i class="icon-line-ellipsis"></i></a>
                                </div>
                                <div class="bg-overlay-bg dark animated fadeOut" data-hover-animate="fadeIn" style="animation-duration: 600ms;"></div>
                            </div>
                        </div>
                        <div class="portfolio-desc">
                            <h3><a href="portfolio-single-video.html">ALG W SERİSİ</a></h3>
                            <span><a href="#">Kırılmış Şişe Çapağı(HDPE-PE-ABS-PS)</a></span>
                        </div>
                    </div>
                </article>

                <article class="portfolio-item col-xl-2 col-md-3 col-sm-6 col-12 pf-uielements pf-icons" style="position: absolute; left: 0%; top: 241.344px;">
                    <div class="grid-inner">
                        <div class="portfolio-image">
                            <a href="portfolio-single-video.html">
                                <img src="~/images/kopuk_geri_donusum_ps_pe_xps_ops.jpg" alt="Backpack Contents">
                            </a>
                            <div class="bg-overlay">
                                <div class="bg-overlay-content dark not-animated" data-hover-animate="fadeIn" style="animation-duration: 600ms;">
                                    <a href="https://www.youtube.com/watch?v=_dHufDqZ0Ys" class="overlay-trigger-icon bg-light text-dark not-animated" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-lightbox="iframe" style="animation-duration: 350ms;"><i class="icon-line-play"></i></a>
                                    <a href="portfolio-single.html" class="overlay-trigger-icon bg-light text-dark not-animated" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" style="animation-duration: 350ms;"><i class="icon-line-ellipsis"></i></a>
                                </div>
                                <div class="bg-overlay-bg dark not-animated" data-hover-animate="fadeIn" style="animation-duration: 600ms;"></div>
                            </div>
                        </div>
                        <div class="portfolio-desc">
                            <h3><a href="portfolio-single-video.html">ALG W SERİSİ(Resim üzerinde video var)</a></h3>
                            <span><a href="#">Köpük Geri Dönüşüm(PS-PE-XPS-OPS)</a></span>
                        </div>
                    </div>
                </article>

                <article class="portfolio-item col-xl-2 col-md-3 col-sm-6 col-12 pf-graphics" style="position: absolute; left: 16.6658%; top: 241.344px;">
                    <div class="grid-inner">
                        <div class="portfolio-image">
                            <a href="portfolio-single.html">
                                <img src="~/images/termoform_malzeme_geri_donusum_pe_pp_abs.jpg" alt="Sunset Bulb Glow">
                            </a>
                            <div class="bg-overlay">
                                <div class="bg-overlay-content dark not-animated" data-hover-animate="fadeIn" style="animation-duration: 600ms;">
                                    <a href="~/images/termoform_malzeme_geri_donusum_pe_pp_abs.jpg" class="overlay-trigger-icon bg-light text-dark not-animated" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-lightbox="image" title="Image" style="animation-duration: 350ms;"><i class="icon-line-plus"></i></a>
                                    <a href="portfolio-single.html" class="overlay-trigger-icon bg-light text-dark not-animated" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" style="animation-duration: 350ms;"><i class="icon-line-ellipsis"></i></a>
                                </div>
                                <div class="bg-overlay-bg dark not-animated" data-hover-animate="fadeIn" style="animation-duration: 600ms;"></div>
                            </div>
                        </div>
                        <div class="portfolio-desc">
                            <h3><a href="portfolio-single.html">ALG W SERİSİ</a></h3>
                            <span><a href="#">Termoform Malzeme Geri Dönüşüm(PE--PP-ABS)</a></span>
                        </div>
                    </div>
                </article>

                <article class="portfolio-item col-xl-2 col-md-3 col-sm-6 col-12 pf-graphics" style="position: absolute; left: 16.6658%; top: 241.344px;">
                    <div class="grid-inner">
                        <div class="portfolio-image">
                            <a href="portfolio-single.html">
                                <img src="~/images/shrink_film_geri_donusum.jpg" alt="Sunset Bulb Glow">
                            </a>
                            <div class="bg-overlay">
                                <div class="bg-overlay-content dark not-animated" data-hover-animate="fadeIn" style="animation-duration: 600ms;">
                                    <a href="~/images/shrink_film_geri_donusum.jpg" class="overlay-trigger-icon bg-light text-dark not-animated" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-lightbox="image" title="Image" style="animation-duration: 350ms;"><i class="icon-line-plus"></i></a>
                                    <a href="portfolio-single.html" class="overlay-trigger-icon bg-light text-dark not-animated" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" style="animation-duration: 350ms;"><i class="icon-line-ellipsis"></i></a>
                                </div>
                                <div class="bg-overlay-bg dark not-animated" data-hover-animate="fadeIn" style="animation-duration: 600ms;"></div>
                            </div>
                        </div>
                        <div class="portfolio-desc">
                            <h3><a href="portfolio-single.html">RGT W SERİSİ</a></h3>
                            <span><a href="#">Shrink Film Geri Dönüşüm</a></span>
                        </div>
                    </div>
                </article>

                <article class="portfolio-item col-xl-2 col-md-3 col-sm-6 col-12 pf-graphics pf-media pf-uielements" style="position: absolute; left: 49.9975%; top: 241.344px;">
                    <div class="grid-inner">
                        <div class="portfolio-image">
                            <a href="portfolio-single-video.html">
                                <img src="~/images/damla_sulama_boru_geri_donusum.jpg" alt="Study Table">
                            </a>
                            <div class="bg-overlay">
                                <div class="bg-overlay-content dark animated fadeOut" data-hover-animate="fadeIn" style="animation-duration: 600ms;">
                                    <a href="~/images/damla_sulama_boru_geri_donusum.jpg" class="overlay-trigger-icon bg-light text-dark animated fadeOutUpSmall" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-lightbox="iframe" style="animation-duration: 350ms;"><i class="icon-line-play"></i></a>
                                    <a href="portfolio-single.html" class="overlay-trigger-icon bg-light text-dark animated fadeOutUpSmall" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" style="animation-duration: 350ms;"><i class="icon-line-ellipsis"></i></a>
                                </div>
                                <div class="bg-overlay-bg dark animated fadeOut" data-hover-animate="fadeIn" style="animation-duration: 600ms;"></div>
                            </div>
                        </div>
                        <div class="portfolio-desc">
                            <h3><a href="portfolio-single-video.html">RGT W SERİSİ</a></h3>
                            <span><a href="#">Damla Sulama Boru Geri Dönüşüm</a></span>
                        </div>
                    </div>
                </article>



                <article class="portfolio-item col-xl-2 col-md-3 col-sm-6 col-12 pf-media pf-icons" style="position: absolute; left: 66.6634%; top: 241.344px;">
                    <div class="grid-inner">
                        <div class="portfolio-image">
                            <a href="portfolio-single.html">
                                <img src="~/images/hdpe_regrind_boru_capagi.jpg" alt="Workspace Stuff">
                            </a>
                            <div class="bg-overlay">
                                <div class="bg-overlay-content dark animated fadeOut" data-hover-animate="fadeIn" style="animation-duration: 600ms;">
                                    <a href="~/images/hdpe_regrind_boru_capagi.jpg" class="overlay-trigger-icon bg-light text-dark animated fadeOutUpSmall" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-lightbox="image" title="Image" style="animation-duration: 350ms;"><i class="icon-line-plus"></i></a>
                                    <a href="portfolio-single.html" class="overlay-trigger-icon bg-light text-dark animated fadeOutUpSmall" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" style="animation-duration: 350ms;"><i class="icon-line-ellipsis"></i></a>
                                </div>
                                <div class="bg-overlay-bg dark animated fadeOut" data-hover-animate="fadeIn" style="animation-duration: 600ms;"></div>
                            </div>
                        </div>
                        <div class="portfolio-desc">
                            <h3><a href="portfolio-single.html">HDPE REGRIND BORU ÇAPAĞI</a></h3>
                            <span><a href="#">Regrınd Boru Çapağı (HDPE)></a></span>
                        </div>
                    </div>
                </article>

                <article class="portfolio-item col-xl-2 col-md-3 col-sm-6 col-12 pf-graphics pf-uielements" style="position: absolute; left: 33.3317%; top: 0px;">
                    <div class="grid-inner">
                        <div class="portfolio-image">
                            <a href="#">
                                <img src="~/images/plastik_boru_geri_donusum.jpg" alt="Mac Sunglasses">
                            </a>
                            <div class="bg-overlay">
                                <div class="bg-overlay-content dark animated fadeOut" data-hover-animate="fadeIn" style="animation-duration: 600ms;">
                                    <a href="~/images/plastik_boru_geri_donusum.jpg" class="overlay-trigger-icon bg-light text-dark animated fadeOutUpSmall" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-lightbox="iframe" style="animation-duration: 350ms;"><i class="icon-line-play"></i></a>
                                    <a href="portfolio-single.html" class="overlay-trigger-icon bg-light text-dark animated fadeOutUpSmall" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" style="animation-duration: 350ms;"><i class="icon-line-ellipsis"></i></a>
                                </div>
                                <div class="bg-overlay-bg dark animated fadeOut" data-hover-animate="fadeIn" style="animation-duration: 600ms;"></div>
                            </div>
                        </div>
                        <div class="portfolio-desc">
                            <h3><a href="portfolio-single-video.html">ALG W SERİSİ</a></h3>
                            <span><a href="#">Graphics</a>, <a href="#">Plastik Boru Geri Dönüşüm</a></span>
                        </div>
                    </div>
                </article>

            </div><!-- #portfolio end -->

        </div>
    </div>
</section>

<section id="page-title">

    <div class="container clearfix">
        <h1>Ürünlerimiz</h1>
        <span>Evsel Tüketici Atıkların Geri Dönüşümü</span>
        
    </div>

</section>

<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">

          

            <!-- Portfolio Items
            ============================================= -->
            <div id="portfolio" class="portfolio row grid-container gutter-30 has-init-isotope" data-layout="fitRows" style="position: relative; height: 1299px;">

                <article class="portfolio-item col-xl-2 col-md-3 col-sm-6 col-12 pf-graphics pf-uielements" style="position: absolute; left: 33.3317%; top: 0px;">
                    <div class="grid-inner">
                        <div class="portfolio-image">
                            <a href="portfolio-single.html">
                                <img src="~/images/yikanmis_pe_pp_film.jpg" alt="Open Imagination">
                            </a>
                            <div class="bg-overlay">
                                <div class="bg-overlay-content dark animated fadeOut" data-hover-animate="fadeIn" style="animation-duration: 600ms;">
                                    <a href="~/images/yikanmis_pe_pp_film.jpg" class="overlay-trigger-icon bg-light text-dark animated fadeOutUpSmall" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-lightbox="image" title="Image" style="animation-duration: 350ms;"><i class="icon-line-plus"></i></a>
                                    <a href="portfolio-single.html" class="overlay-trigger-icon bg-light text-dark animated fadeOutUpSmall" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" style="animation-duration: 350ms;"><i class="icon-line-ellipsis"></i></a>
                                </div>
                                <div class="bg-overlay-bg dark animated fadeOut" data-hover-animate="fadeIn" style="animation-duration: 600ms;"></div>
                            </div>
                        </div>
                        <div class="portfolio-desc">
                            <h3><a href="portfolio-single.html">RGT TW SERİSİ</a></h3>
                            <span><a href="#">Yıkanmış Film(PE-PP)</a></span>
                        </div>
                    </div>
                </article>

                <article class="portfolio-item col-xl-2 col-md-3 col-sm-6 col-12 pf-graphics pf-uielements" style="position: absolute; left: 33.3317%; top: 0px;">
                    <div class="grid-inner">
                        <div class="portfolio-image">
                            <a href="portfolio-single.html">
                                <img src="~/images/yikanmis_capak_pe_pp.jpg" alt="Open Imagination">
                            </a>
                            <div class="bg-overlay">
                                <div class="bg-overlay-content dark animated fadeOut" data-hover-animate="fadeIn" style="animation-duration: 600ms;">
                                    <a href="~/images/yikanmis_capak_pe_pp.jpg" class="overlay-trigger-icon bg-light text-dark animated fadeOutUpSmall" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-lightbox="image" title="Image" style="animation-duration: 350ms;"><i class="icon-line-plus"></i></a>
                                    <a href="portfolio-single.html" class="overlay-trigger-icon bg-light text-dark animated fadeOutUpSmall" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" style="animation-duration: 350ms;"><i class="icon-line-ellipsis"></i></a>
                                </div>
                                <div class="bg-overlay-bg dark animated fadeOut" data-hover-animate="fadeIn" style="animation-duration: 600ms;"></div>
                            </div>
                        </div>
                        <div class="portfolio-desc">
                            <h3><a href="portfolio-single.html">ALG TW SERİSİ</a></h3>
                            <span><a href="#">Yıkanmış Çapak (PE-PP)</a></span>
                        </div>
                    </div>
                </article>

                <article class="portfolio-item col-xl-2 col-md-3 col-sm-6 col-12 pf-graphics pf-uielements" style="position: absolute; left: 33.3317%; top: 0px;">
                    <div class="grid-inner">
                        <div class="portfolio-image">
                            <a href="#">
                                <img src="~/images/tarim_atigi_agricultural_yikanmis_film_pe_pp.jpg" alt="Open Imagination">
                            </a>
                            <div class="bg-overlay">
                                <div class="bg-overlay-content dark animated fadeOut" data-hover-animate="fadeIn" style="animation-duration: 600ms;">
                                    <a href="~/images/tarim_atigi_agricultural_yikanmis_film_pe_pp.jpg" class="overlay-trigger-icon bg-light text-dark animated fadeOutUpSmall" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-lightbox="iframe" style="animation-duration: 350ms;"><i class="icon-line-play"></i></a>
                                    <a href="portfolio-single.html" class="overlay-trigger-icon bg-light text-dark animated fadeOutUpSmall" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" style="animation-duration: 350ms;"><i class="icon-line-ellipsis"></i></a>
                                </div>
                                <div class="bg-overlay-bg dark animated fadeOut" data-hover-animate="fadeIn" style="animation-duration: 600ms;"></div>
                            </div>
                        </div>
                        <div class="portfolio-desc">
                            <h3><a href="portfolio-single-video.html">RGT TW SERİSİ</a></h3>
                            <span><a href="#">Tarım Atığı(Agricultural) Yıkanmış Film(PE-PP)</a></span>
                        </div>
                    </div>
                </article>

               

            </div><!-- #portfolio end -->

        </div>
    </div>
</section>

<section id="page-title">

    <div class="container clearfix">
        <h1>Ürünlerimiz</h1>
        <span>Pet Polyamide Geri Dönüşüm</span>

    </div>

</section>

<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">



            <!-- Portfolio Items
            ============================================= -->
            <div id="portfolio" class="portfolio row grid-container gutter-30 has-init-isotope" data-layout="fitRows" style="position: relative; height: 1299px;">

                <article class="portfolio-item col-xl-2 col-md-3 col-sm-6 col-12 pf-graphics pf-uielements" style="position: absolute; left: 33.3317%; top: 0px;">
                    <div class="grid-inner">
                        <div class="portfolio-image">
                            <a href="portfolio-single.html">
                                <img src="~/images/polyester_iplik_dese.jpg" alt="Open Imagination">
                            </a>
                            <div class="bg-overlay">
                                <div class="bg-overlay-content dark animated fadeOut" data-hover-animate="fadeIn" style="animation-duration: 600ms;">
                                    <a href="~/images/polyester_iplik_dese.jpg" class="overlay-trigger-icon bg-light text-dark animated fadeOutUpSmall" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-lightbox="image" title="Image" style="animation-duration: 350ms;"><i class="icon-line-plus"></i></a>
                                    <a href="portfolio-single.html" class="overlay-trigger-icon bg-light text-dark animated fadeOutUpSmall" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" style="animation-duration: 350ms;"><i class="icon-line-ellipsis"></i></a>
                                </div>
                                <div class="bg-overlay-bg dark animated fadeOut" data-hover-animate="fadeIn" style="animation-duration: 600ms;"></div>
                            </div>
                        </div>
                        <div class="portfolio-desc">
                            <h3><a href="portfolio-single.html">RGT W SH SERİSİ</a></h3>
                            <span><a href="#">Polyester İplik Deşe</a></span>
                        </div>
                    </div>
                </article>

                <article class="portfolio-item col-xl-2 col-md-3 col-sm-6 col-12 pf-graphics pf-uielements" style="position: absolute; left: 33.3317%; top: 0px;">
                    <div class="grid-inner">
                        <div class="portfolio-image">
                            <a href="portfolio-single.html">
                                <img src="~/images/petflake.jpg" alt="Open Imagination">
                            </a>
                            <div class="bg-overlay">
                                <div class="bg-overlay-content dark animated fadeOut" data-hover-animate="fadeIn" style="animation-duration: 600ms;">
                                    <a href="~/images/petflake.jpg" class="overlay-trigger-icon bg-light text-dark animated fadeOutUpSmall" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-lightbox="image" title="Image" style="animation-duration: 350ms;"><i class="icon-line-plus"></i></a>
                                    <a href="portfolio-single.html" class="overlay-trigger-icon bg-light text-dark animated fadeOutUpSmall" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" style="animation-duration: 350ms;"><i class="icon-line-ellipsis"></i></a>
                                </div>
                                <div class="bg-overlay-bg dark animated fadeOut" data-hover-animate="fadeIn" style="animation-duration: 600ms;"></div>
                            </div>
                        </div>
                        <div class="portfolio-desc">
                            <h3><a href="portfolio-single.html">PET FLAKE</a></h3>
                           @* <span><a href="#">Yıkanmış Çapak (PE-PP)</a></span>*@
                        </div>
                    </div>
                </article>

            



            </div><!-- #portfolio end -->

        </div>
    </div>
</section>