<section id="content">
			<div class="content-wrap">
				<div class="container clearfix">

					<div class="grid-filter-wrap">

						<!-- Portfolio Filter
						============================================= -->
						<ul class="grid-filter" data-container="#portfolio">
							<li class="activeFilter"><a href="#" data-filter="*">Hepsini Göster</a></li>
							<li><a href="#" data-filter=".pf-rgt">RGT</a></li>
							<li><a href="#" data-filter=".pf-r">R</a></li>
							
							
							
						</ul><!-- .grid-filter end -->

						<div class="grid-shuffle rounded" data-container="#portfolio">
							<i class="icon-random"></i>
						</div>

					</div>

					<!-- Portfolio Items
					============================================= -->
					<div id="portfolio" class="portfolio row grid-container gutter-30 has-init-isotope" data-layout="fitRows" style="position: relative; height: 1299px;">

				<article class="portfolio-item col-md-4 col-sm-6 col-12 pf-media pf-rgt" style="position: absolute; left: 0%; top: 0px;">
							<div class="grid-inner">
								<div class="portfolio-image">
									<a href="~/Products/RGTWSeries">
								<img src="~/images/01 - RGT W TEK GAZALMALI-SOL GÖRSEL..png" alt="Open Imagination">
									</a>
									<div class="bg-overlay">
										<div class="bg-overlay-content dark animated fadeOut" data-hover-animate="fadeIn" style="animation-duration: 600ms;">
									<a href="~/images/01 - RGT W TEK GAZALMALI-SOL GÖRSEL..png" class="overlay-trigger-icon bg-light text-dark animated fadeOutUpSmall" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-lightbox="image" title="Image" style="animation-duration: 350ms;"><i class="icon-line-plus"></i></a>
											<a href="~/Products/RGTWSeries" class="overlay-trigger-icon bg-light text-dark animated fadeOutUpSmall" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" style="animation-duration: 350ms;"><i class="icon-line-ellipsis"></i></a>
										</div>
										<div class="bg-overlay-bg dark animated fadeOut" data-hover-animate="fadeIn" style="animation-duration: 600ms;"></div>
									</div>
								</div>
								<div class="portfolio-desc">
							<h3><a href="~/Products/RGTWSeries">RGT W Serisi</a></h3>
							<span>
								Tek Gazalmalı Kırıcı Kompaktör Bağlantılı<br />
								Ürün ekstrudere girmeden önce; kırma, ısıtma, yoğunlaştırma, kurutma, karıştırma işlemlerini tek seferde gerçekleştirir.
							</span>
								</div>
							</div>
						</article>

				<article class="portfolio-item col-md-4 col-sm-6 col-12 pf-rgt" style="position: absolute; left: 33.3333%; top: 0px;">
							<div class="grid-inner">
								<div class="portfolio-image">
							<a href="~/Products/RGTTWSeries">
								<img src="~/images/00-KAPAK GÖRSEL - RGT TW.png" alt="Locked Steel Gate">
									</a>
									<div class="bg-overlay">
										<div class="bg-overlay-content dark animated fadeOut" data-hover-animate="fadeIn" style="animation-duration: 600ms;">
									<a href="~/images/00-KAPAK GÖRSEL - RGT TW.png" class="overlay-trigger-icon bg-light text-dark animated fadeOutUpSmall" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-lightbox="image" title="Image" style="animation-duration: 350ms;"><i class="icon-line-plus"></i></a>
									<a href="~/Products/RGTTWSeries" class="overlay-trigger-icon bg-light text-dark animated fadeOutUpSmall" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" style="animation-duration: 350ms;"><i class="icon-line-ellipsis"></i></a>
										</div>
										<div class="bg-overlay-bg dark animated fadeOut" data-hover-animate="fadeIn" style="animation-duration: 600ms;"></div>
									</div>
								</div>
								<div class="portfolio-desc">
							<h3><a href="~/Products/RGTTWSeries">RGT TW Serisi</a></h3>
							<span>
								Çift Gazalmalı Kırıcı Kompaktör Bağlantılı<br />
								Daha nemli ve daha baskılı ürünlerde, çift gazalma ve güçlü vakum sistemi ile yüksek performans sağlar.
							</span>
								</div>
							</div>
						</article>
				<article class="portfolio-item col-md-4 col-sm-6 col-12 pf-rgt" style="position: absolute; left: 33.3333%; top: 0px;">
					<div class="grid-inner">
						<div class="portfolio-image">
							<a href="~/Products/RGTTWSeries">
								<img src="~/images/07-RGT SF-1.png" alt="Locked Steel Gate">
							</a>
							<div class="bg-overlay">
								<div class="bg-overlay-content dark animated fadeOut" data-hover-animate="fadeIn" style="animation-duration: 600ms;">
									<a href="07-RGT SF-1.png" class="overlay-trigger-icon bg-light text-dark animated fadeOutUpSmall" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-lightbox="image" title="Image" style="animation-duration: 350ms;"><i class="icon-line-plus"></i></a>
									<a href="~/Products/RGTSFSeries" class="overlay-trigger-icon bg-light text-dark animated fadeOutUpSmall" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" style="animation-duration: 350ms;"><i class="icon-line-ellipsis"></i></a>
								</div>
								<div class="bg-overlay-bg dark animated fadeOut" data-hover-animate="fadeIn" style="animation-duration: 600ms;"></div>
							</div>
						</div>
						<div class="portfolio-desc">
							<h3><a href="~/Products/RGTTWSeries">RGT SF Serisi</a></h3>
							<span>
								Çift Gazalmalı Kırıcı Kompaktör Bağlantılı<br />
								Plastik malzemeler başka bir vida sayesinde ana vidaya itilerek beslenir.
							</span>
						</div>
					</div>
				</article>

				<article class="portfolio-item col-md-4 col-sm-6 col-12 pf-rgt" style="position: absolute; left: 66.6667%; top: 0px;">
							<div class="grid-inner">
								<div class="portfolio-image">
							<a href="~/Products/RGTTandemSeries">
								<img src="~/images/05 - RGT TANDEM SOL GÖRSEL..png" alt="Mac Sunglasses">
									</a>
									<div class="bg-overlay">
										<div class="bg-overlay-content dark not-animated" data-hover-animate="fadeIn" style="animation-duration: 600ms;">
									<a href="~/images/05 - RGT TANDEM SOL GÖRSEL..png" class="overlay-trigger-icon bg-light text-dark not-animated" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-lightbox="iframe" style="animation-duration: 350ms;"><i class="icon-line-play"></i></a>
									<a href="~/Products/RGTTandemSeries" class="overlay-trigger-icon bg-light text-dark not-animated" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" style="animation-duration: 350ms;"><i class="icon-line-ellipsis"></i></a>
										</div>
										<div class="bg-overlay-bg dark not-animated" data-hover-animate="fadeIn" style="animation-duration: 600ms;"></div>
									</div>
								</div>
								<div class="portfolio-desc">
							<h3><a href="~/Products/RGTTandemSeries">RGT Tandem Serisi</a></h3>
							<span>
								RGT Tandem Serisi<br />
								RGT TANDEM Model ile nem oranı yüksek ve çok baskılı ürünlerde, beş gaz alma çıkışı ve üç vakum pompası ile yoğun gazlar alınarak, eriyik plastik granül hale getirilir.
							</span>
								</div>
							</div>
						</article>






				<article class="portfolio-item col-md-4 col-sm-6 col-12 pf-r" style="position: absolute; left: 0%; top: 866px;">
							<div class="grid-inner">
								<div class="portfolio-image">
									<a href="RPetSeries">
								<img src="~/images/11- R PET SOL GÖRSEL.png" alt="Backpack Contents">
									</a>
									<div class="bg-overlay">
										<div class="bg-overlay-content dark not-animated" data-hover-animate="fadeIn" style="animation-duration: 600ms;">
									<a href="~/images/11- R PET SOL GÖRSEL.png" class="overlay-trigger-icon bg-light text-dark not-animated" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-lightbox="iframe" style="animation-duration: 350ms;"><i class="icon-line-play"></i></a>
									<a href="~/Products/RPetSeries" class="overlay-trigger-icon bg-light text-dark not-animated" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" style="animation-duration: 350ms;"><i class="icon-line-ellipsis"></i></a>
										</div>
										<div class="bg-overlay-bg dark not-animated" data-hover-animate="fadeIn" style="animation-duration: 600ms;"></div>
									</div>
								</div>
								<div class="portfolio-desc">
									<h3><a href="~/Products/RPetSeries">R Pet Serisi</a></h3>
							<span>
								Pet capek veya polyester tarzı ürünlerde kristalizasyon<br />
								ve besleme işlerini kompaktör kırıcı gövdede tamamlayarak extruderde plastfikasyon sağlanıp, spagetti veya underwater
							</span>
								</div>
							</div>
						</article>

				<article class="portfolio-item col-md-4 col-sm-6 col-12 pf-rgt" style="position: absolute; left: 33.3333%; top: 866px;">
							<div class="grid-inner">
								<div class="portfolio-image">
									<a href="~/Products/RGTWSHSeries">
								<img src="~/images/rgtw-sh-1.jpg" alt="Sunset Bulb Glow">
									</a>
									<div class="bg-overlay">
										<div class="bg-overlay-content dark animated fadeOut" data-hover-animate="fadeIn" style="animation-duration: 600ms;">
									<a href="~/images/rgtw-sh-1.jpg" class="overlay-trigger-icon bg-light text-dark animated fadeOutUpSmall" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-lightbox="image" title="Image" style="animation-duration: 350ms;"><i class="icon-line-plus"></i></a>
											<a href="portfolio-single.html" class="overlay-trigger-icon bg-light text-dark animated fadeOutUpSmall" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" style="animation-duration: 350ms;"><i class="icon-line-ellipsis"></i></a>
										</div>
										<div class="bg-overlay-bg dark animated fadeOut" data-hover-animate="fadeIn" style="animation-duration: 600ms;"></div>
									</div>
								</div>
								<div class="portfolio-desc">
							<h3><a href="~/Products/RGTWSHSeries">RGT W SH Serisi</a></h3>
							<span>
								Kırıcı Kompaktör ve Shredder Parçalayıcı Bağlantılı<br />
								Kırılması zor olan ürünlerde; PP big-bag çuval, sert plastik takoz ürünlerde, öncesinde parçalayıp sonrasında granül hale getiren
							</span>
								</div>
							</div>
						</article>

				

			

				

				
				

				


					</div><!-- #portfolio end -->

				</div>
			</div>
		</section>