@{
    ViewData["Title"] = "Home Page";
    string sliderPath1 = Url.Content("~/images/fabrika1.jpg");
    string sliderPath2 = Url.Content("~/images/lasermelt.jpg");
    string mapiconmarker = Url.Content("~/images/map-icon-red.png");
    string erema = Url.Content("~/images/erema.webp");
}


<div class="video-wrap no-placeholder vh-100" style="z-index: 1;">
  @*  <img class="m-width-100" sty src="~/images/slider.webp" alt="WebP rules.">*@
    <video poster="~/images/slider.webp" preload="auto" loop autoplay muted playsinline>
        <source src='~/images/altech.webm' type='video/mp4' />
        <source src='~/images/altech.webm' type='video/webm' />
    </video>
    <div class="video-overlay" style="background-color: rgba(0,0,0,0.45);"></div>
</div>

<br />




<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">
            <div class="row col-mb-50 mb-0">
                <div class="col-lg-4">
                    <div class="heading-block fancy-title border-bottom-0 title-bottom-border">
                        <h4>Neden <span>BİZ</span>?</h4>
                    </div>
                    <p>1974 yılında, çeşitli makinelerin imalatı ve sonraki yıllarda plastik geri dönüşüm makineleri üretimlerine başlayan Altech Makine, 1986 yılında taşındığı 3500 metrekarelik yeni tesisinde işlerini genişleterek çeşitli ülkelere ihracat yapmaya başlamış ve bugün 11.000 m2 yeni fabrikasında tam 45 ülkeye geri dönüşüm makine ihracatı gerçekleştiren bir entegre tesis haline gelmiştir. Doğal kaynakların korunması, ekonomiye yeniden kazandırılması için var gücümüzle çalışmaya devam ediyoruz.<br />Altech Makine olarak, üretimlerimizi daha yaşanabilir bir dünyanın inşasında payımızın olduğu bilinci ile gerçekleştiriyoruz. Teknolojik gelişmeleri zamanında takip edebilme, imalat süreçlerine hızla dahil etme prensibine ve modern üretim koşullarını her daim dinamik tutabilme kabiliyetine sahibiz. </p>
                </div>
                <div class="col-lg-4">
                    <div class="heading-block fancy-title border-bottom-0 title-bottom-border">
                        <h4>Bizim <span>MİSYONUMUZ</span>.</h4>
                    </div>
                    <p>
                        Plastik geri dönüşüm hatları ve plastik eriyik filtre sistemleri yapan Altech Makine; uzman mühendis kadrosu, güçlü teknik departmanı ve uzman AR-GE ekibinin heyecanlı ve inovatif çalışmalarıyla elde ettiği bilinirliğini bir ekol olma hedefiyle perçinlemekte; yurt içinde ve yurt dışında öncelikle tercih edilen bir şirket olma gayretindedir.<br />CE, GOST, ISO 9001 Kalite sertifikalarına sahip olarak, Uluslararası direktiflere uygun olarak dizayn ettiği tüm ürünleri, müşterilerinin özel talep ve kalite beklentisi ile profesyonel hizmet ihtiyaçlarını karşılamayı temel prensip edinmiştir.

                    </p>
                </div>
                <div class="col-lg-4">
                    <div class="heading-block fancy-title border-bottom-0 title-bottom-border">
                        <h4>Ne <span>Yaparız</span>?</h4>
                    </div>
                    <p>
                        Altech Makine olarak, öncelikli hedef ve stratejilerimizi, kaliteden ödün vermeden zamanında üretim ve zamanında teslim prensibimiz ile birleştiriyoruz. Üretimde kalite prensibi, satış öncesi ve sonrası teknik destek hizmeti, müşteri memnuniyeti ilkesi ve her zaman en iyiyi yapma ve başarma tutkusu ile üretimlerimize devam etmekte, bunun karşılığı olarak gelişmesini, büyümesini ve yıllardır sizlere vermiş olduğu hizmetin haklı gururunu yaşamaktayız.
                        <br />
                        Daha inovatif ve daha güçlü geri dönüşüm teknolojileri üretmek için aldığımız ilham gücümüz ve başarma arzumuz sayesinde, bugünümüz ve geleceğimiz için verdiğimiz her sözü tutmak gayretiyle üretimlerimize durmadan devam ediyoruz.

                    </p>
                </div>
            </div>
        </div>


    </div>
</section>
<div class="section bg-transparent m-0 pt-3 pb-0">
    <div class="container mw-md">
      
        <div class="text-md-center">
            <h3 class="bg-color d-inline-block px-4 py-2 text-white mb-0 rounded-1">Yol Haritamız</h3>
        </div>
        <div class="story-timeline">
            <div class="clear mt-4"></div>
            <div class="story-timeline-line"></div>
            <div class="row justify-content-md-center">
                <div class="col-md-5 text-md-end">
                    <h4 class="bg-secondary d-inline-block px-3 py-1 text-white mb-0 rounded-1 mb-3">1974</h4>
                </div>
                <div class="story-timeline-dots"></div>
                <div class="col-md-5">
                    <h3 class="mb-3">Kuruluş</h3>
                 
                </div>
            </div>
            <div class="clear my-5"></div>
            <div class="row justify-content-md-center">
                <div class="col-md-5 order-md-2">
                    <h4 class="bg-secondary d-inline-block px-3 py-1 text-white mb-0 rounded-1 mb-3"> 1977</h4>
                </div>
                <div class="story-timeline-dots"></div>
                <div class="col-md-5 text-md-end">
                    <h3 class="mb-3">Plastik Kırma Makinası Rotor İmalatı</h3>
                   
                </div>
            </div>
            <div class="clear my-5"></div>
            <div class="row justify-content-md-center">
                <div class="col-md-5 text-md-end">
                    <h4 class="bg-secondary d-inline-block px-3 py-1 text-white mb-0 rounded-1 mb-3">1984</h4>
                </div>
                <div class="story-timeline-dots"></div>
                <div class="col-md-5">
                    <h3 class="mb-3">İlk Geri Dönüşüm Makinası İmalatı</h3>
                    
                </div>
            </div>
            <div class="clear my-5"></div>
            <div class="row justify-content-md-center">
                <div class="col-md-5 order-md-2">
                    <h4 class="bg-secondary d-inline-block px-3 py-1 text-white mb-0 rounded-1 mb-3">1985</h4>
                </div>
                <div class="story-timeline-dots"></div>
                <div class="col-md-5 text-md-end">
                    <h3 class="mb-3">Türkiye'de Yapılan İlk Agromel Makinası Üretimi</h3>
                </div>
            </div>
             <div class="clear my-5"></div>
            <div class="row justify-content-md-center">
                <div class="col-md-5 text-md-end">
                    <h4 class="bg-secondary d-inline-block px-3 py-1 text-white mb-0 rounded-1 mb-3">1998</h4>
                </div>
                <div class="story-timeline-dots"></div>
                <div class="col-md-5">
                    <h3 class="mb-3">Dünya Çapında İhracat</h3>
                    
                </div>
            </div>
            <div class="clear my-5"></div>
            <div class="row justify-content-md-center">
                <div class="col-md-5 order-md-2">
                    <h4 class="bg-secondary d-inline-block px-3 py-1 text-white mb-0 rounded-1 mb-3">2015</h4>
                </div>
                <div class="story-timeline-dots"></div>
                <div class="col-md-5 text-md-end">
                    <h3 class="mb-3">11.000 M2 Fabrikada En Gelişmiş Geri Dönüşüm Teknolojileri Üretimi</h3>
                </div>
            </div>
            <div class="clear my-5"></div>
            <div class="row justify-content-md-center">
                <div class="col-md-5 text-md-end">
                    <h4 class="bg-secondary d-inline-block px-3 py-1 text-white mb-0 rounded-1 mb-3">2023</h4>
                </div>
                <div class="story-timeline-dots"></div>
                <div class="col-md-5">
                    <h3 class="mb-3">Yaşanabilir Bir Dünya Vizyonu İle Üretim Devamlılığı</h3>
                    
                </div>
            </div>
            <div class="clear mt-5"></div>
        </div>
    </div>
</div>
<section class="section dark">
    <div data-animate="fadeInLeft" data-delay="500" class="container">
    <div class="row col-mb-50">
        <div class="col-lg-12">
            <div class="fancy-title title-border title-center">
                <h1>UYGULAMALAR</h1>
            </div>
            <div class="row posts-md col-mb-30">
                <div class="entry col-md-4">
                    <div class="grid-inner">
                        <div class="entry-image">
                            <a href="#"><img src="~/images/endustriyel_atik.jpg" alt="Image"></a>
                        </div>
                        <div class="entry-title title-sm nott">
                            <h3 class="text-center"><a href="~/Application/IndustrialRecyclingWaste">Endüstiriyel Atıkların Geri Dönüşümü</a></h3>
                        </div>


                    </div>
                </div>
                <div class="entry col-md-4">
                    <div class="grid-inner">
                        <div class="entry-image">
                            <a href="#"><img src="~/images/tuketici.jpg" alt="Image"></a>
                        </div>
                        <div class="entry-title title-sm nott">
                            <h3 class="text-center"><a href="~/Application/IndustrialRecyclingWaste#EvselTuketiciAtiklari">Evsel Tüketici Atıkların Geri Dönüşümü</a></h3>
                        </div>


                    </div>
                </div>
                <div class="entry col-md-4">
                    <div class="grid-inner">
                        <div class="entry-image">
                            <a href="#"><img src="~/images/pet-polyemide.jpg" alt="Image"></a>
                        </div>
                        <div class="entry-title title-sm nott">
                            <h3 class="text-center"><a href="~/Application/IndustrialRecyclingWaste#PetPolyamide">Pet Polyamide Geri Dönüşüm</a></h3>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        @*<div class="col-lg-4">
        <div class="fancy-title title-border">
        <h4>Client Testimonials</h4>
        </div>
        <div class="fslider testimonial p-0 border-0 shadow-none" data-animation="slide" data-arrows="false">
        <div class="flexslider">

        <div class="flex-viewport" style="overflow: hidden; position: relative; height: 138.391px;">
        <div class="slider-wrap" style="width: 1000%; transition-duration: 0s; transform: translate3d(-1248px, 0px, 0px);">
        <div class="slide clone" aria-hidden="true" style="width: 416px; margin-right: 0px; float: left; display: block;">
        <div class="testi-image">
        <a href="#"><img src="images/testimonials/1.jpg" alt="Customer Testimonails" draggable="false"></a>
        </div>
        <div class="testi-content">
        <p>Incidunt deleniti blanditiis quas aperiam recusandae consequatur ullam quibusdam cum libero illo rerum!</p>
        <div class="testi-meta">
        John Doe
        <span>XYZ Inc.</span>
        </div>
        </div>
        </div>
        <div class="slide" style="width: 416px; margin-right: 0px; float: left; display: block;" data-thumb-alt="">
        <div class="testi-image">
        <a href="#"><img src="images/testimonials/3.jpg" alt="Customer Testimonails" draggable="false"></a>
        </div>
        <div class="testi-content">
        <p>Similique fugit repellendus expedita excepturi iure perferendis provident quia eaque. Repellendus, vero numquam?</p>
        <div class="testi-meta">
        Steve Jobs
        <span>Apple Inc.</span>
        </div>
        </div>
        </div>
        <div class="slide" data-thumb-alt="" style="width: 416px; margin-right: 0px; float: left; display: block;">
        <div class="testi-image">
        <a href="#"><img src="images/testimonials/2.jpg" alt="Customer Testimonails" draggable="false"></a>
        </div>
        <div class="testi-content">
        <p>Natus voluptatum enim quod necessitatibus quis expedita harum provident eos obcaecati id culpa corporis molestias.</p>
        <div class="testi-meta">
        Collis Ta'eed
        <span>Envato Inc.</span>
        </div>
        </div>
        </div>
        <div class="slide flex-active-slide" data-thumb-alt="" style="width: 416px; margin-right: 0px; float: left; display: block;">
        <div class="testi-image">
        <a href="#"><img src="images/testimonials/1.jpg" alt="Customer Testimonails" draggable="false"></a>
        </div>
        <div class="testi-content">
        <p>Incidunt deleniti blanditiis quas aperiam recusandae consequatur ullam quibusdam cum libero illo rerum!</p>
        <div class="testi-meta">
        John Doe
        <span>XYZ Inc.</span>
        </div>
        </div>
        </div>
        <div class="slide clone" style="width: 416px; margin-right: 0px; float: left; display: block;" aria-hidden="true">
        <div class="testi-image">
        <a href="#"><img src="images/testimonials/3.jpg" alt="Customer Testimonails" draggable="false"></a>
        </div>
        <div class="testi-content">
        <p>Similique fugit repellendus expedita excepturi iure perferendis provident quia eaque. Repellendus, vero numquam?</p>
        <div class="testi-meta">
        Steve Jobs
        <span>Apple Inc.</span>
        </div>
        </div>
        </div>
        </div>
        </div><ol class="flex-control-nav flex-control-paging"><li><a href="#" class="">1</a></li><li><a href="#" class="">2</a></li><li><a href="#" class="flex-active">3</a></li></ol>
        </div>
        </div>
        <div class="card topmargin overflow-hidden">
        <div class="card-body">
        <h4>Opening Hours</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit reprehenderit voluptates.</p>
        <ul class="iconlist mb-0">
        <li><i class="icon-time color"></i> <strong>Mondays-Fridays:</strong> 10AM to 7PM</li>
        <li><i class="icon-time color"></i> <strong>Saturdays:</strong> 11AM to 3PM</li>
        <li><i class="icon-time text-danger"></i> <strong>Sundays:</strong> Closed</li>
        </ul>
        <i class="icon-time bgicon"></i>
        </div>
        </div>
        </div>*@
    </div>
</div>
</section>

<div class="container"><div class="promo promo-dark bg-color bottommargin-lg p-4">
<div class="row align-items-center">
<div class="col-12 col-lg">
<h3 class="fw-normal ls1 center">Geri Dönüşümle Geleceğe Dönüşüm</h3>
</div>

</div>
</div>

<div id="section-works" class="page-section pt-0" data-onepage-settings="{&quot;offset&quot;:65,&quot;speed&quot;:&quot;1250&quot;,&quot;easing&quot;:&quot;easeInOutExpo&quot;}" data-scrollto-settings="{&quot;offset&quot;:70,&quot;speed&quot;:&quot;1250&quot;,&quot;easing&quot;:&quot;easeInOutExpo&quot;}">
    <div class="fancy-title title-border title-center">
        <h1>ÜRÜNLERİMİZ</h1>
    </div>



    <div id="products" class="portfolio grid-container row g-0 has-init-isotope" style="position: relative; height: 1070.44px;">

        <article class="portfolio-item col-lg-6 col-md-4 col-sm-6 col-12 wide" style="position: absolute; left: 0%; top: 0px;">
            <div class="grid-inner">
                <div class="portfolio-image">
                    <a href="#">
                        <img src="~/images/01 - RGT W TEK GAZALMALI-SOL GÖRSEL..png" alt="Offset Transfer">
                    </a>
                    <div class="bg-overlay">
                        <div class="bg-overlay-content flex-column animated fadeOut" data-hover-animate="fadeIn" style="animation-duration: 600ms;">
                            <div class="portfolio-desc p-0 center animated fadeOutUpSmall" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" style="animation-duration: 350ms;">
                                <h3><a href="~/Products/RGTWSeries">RGT W SERİSİ</a></h3>

                            </div>
                        </div>
                        <div class="bg-overlay-bg animated fadeOut" data-hover-animate="fadeIn" style="animation-duration: 600ms;"></div>
                    </div>
                </div>
            </div>
        </article>
        <article class="portfolio-item col-lg-6 col-md-4 col-sm-6 col-12 wide" style="position: absolute; left: 0%; top: 0px;">
            <div class="grid-inner">
                <div class="portfolio-image">
                    <a href="#">
                        <img src="~/images/00-KAPAK GÖRSEL - RGT TW.png" alt="Offset Transfer">
                    </a>
                    <div class="bg-overlay">
                        <div class="bg-overlay-content flex-column animated fadeOut" data-hover-animate="fadeIn" style="animation-duration: 600ms;">
                            <div class="portfolio-desc p-0 center animated fadeOutUpSmall" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" style="animation-duration: 350ms;">
                                <h3><a href="~/Products/RGTTWSeries">RGT TW SERİSİ</a></h3>

                            </div>
                        </div>
                        <div class="bg-overlay-bg animated fadeOut" data-hover-animate="fadeIn" style="animation-duration: 600ms;"></div>
                    </div>
                </div>
            </div>
        </article>
        <article class="portfolio-item col-lg-3 col-md-4 col-sm-6 col-12" style="position: absolute; left: 75%; top: 0px;">
            <div class="grid-inner">
                <div class="portfolio-image">
                    <a href="#">
                        <img src="~/images/06 - RGT TANDEM SAĞ GÖRSEL.png" alt="Offset Migrasyon">
                    </a>
                    <div class="bg-overlay">
                        <div class="bg-overlay-content flex-column animated fadeOut" data-hover-animate="fadeIn" style="animation-duration: 600ms;">
                            <div class="portfolio-desc p-0 center animated fadeOutUpSmall" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" style="animation-duration: 350ms;">
                                <h3><a href="~/Products/RGTTandemSeries">RGT TANDEM SERİSİ</a></h3>

                            </div>
                        </div>
                        <div class="bg-overlay-bg animated fadeOut" data-hover-animate="fadeIn" style="animation-duration: 600ms;"></div>
                    </div>
                </div>
            </div>
        </article>
        <article class="portfolio-item col-lg-6 col-md-4 col-sm-6 col-12 wide" style="position: absolute; left: 50%; top: 356.812px;">
            <div class="grid-inner">
                <div class="portfolio-image">
                    <a href="#">
                        <img src="~/images/12- R PET SAĞ GÖRSEL.png" alt="Serigraf Transfer">
                    </a>
                    <div class="bg-overlay">
                        <div class="bg-overlay-content flex-column animated fadeOut" data-hover-animate="fadeIn" style="animation-duration: 600ms;">
                            <div class="portfolio-desc p-0 center animated fadeOutUpSmall" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" style="animation-duration: 350ms;">
                                <h3><a href="~/Products/RPetSeries">R PET SERİSİ</a></h3>

                            </div>
                        </div>
                        <div class="bg-overlay-bg animated fadeOut" data-hover-animate="fadeIn" style="animation-duration: 600ms;"></div>
                    </div>
                </div>
            </div>
        </article>

        <article class="portfolio-item col-lg-3 col-md-4 col-sm-6 col-12" style="position: absolute; left: 50%; top: 0px;">
            <div class="grid-inner">
                <div class="portfolio-image">
                    <a href="#">
                        <img src="~/images/10-RGT SHR SAĞ GÖRSEL.png" alt="Offset Simli">
                    </a>
                    <div class="bg-overlay">
                        <div class="bg-overlay-content flex-column animated fadeOut" data-hover-animate="fadeIn" style="animation-duration: 600ms;">
                            <div class="portfolio-desc p-0 center animated fadeOutUpSmall" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" style="animation-duration: 350ms;">
                                <h3><a href="~/Products/RGTWSHSeries">RGT W SH SERİSİ</a></h3>

                            </div>
                        </div>
                        <div class="bg-overlay-bg animated fadeOut" data-hover-animate="fadeIn" style="animation-duration: 600ms;"></div>
                    </div>
                </div>
            </div>
        </article>
          <article class="portfolio-item col-lg-3 col-md-4 col-sm-6 col-12" style="position: absolute; left: 50%; top: 0px;">
            <div class="grid-inner">
                <div class="portfolio-image">
                    <a href="#">
                        <img src="~/images/07-RGT SF-1.png" alt="Offset Simli">
                    </a>
                    <div class="bg-overlay">
                        <div class="bg-overlay-content flex-column animated fadeOut" data-hover-animate="fadeIn" style="animation-duration: 600ms;">
                            <div class="portfolio-desc p-0 center animated fadeOutUpSmall" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" style="animation-duration: 350ms;">
                                <h3><a href="~/Products/RGTSFSeries">RGT SF SERİSİ</a></h3>

                            </div>
                        </div>
                        <div class="bg-overlay-bg animated fadeOut" data-hover-animate="fadeIn" style="animation-duration: 600ms;"></div>
                    </div>
                </div>
            </div>
        </article>
           <article class="portfolio-item col-lg-3 col-md-4 col-sm-6 col-12" style="position: absolute; left: 50%; top: 0px;">
            <div class="grid-inner">
                <div class="portfolio-image">
                    <a href="#">
                        <img src="~/images/lazer.jpg" alt="Offset Simli">
                    </a>
                    <div class="bg-overlay">
                        <div class="bg-overlay-content flex-column animated fadeOut" data-hover-animate="fadeIn" style="animation-duration: 600ms;">
                            <div class="portfolio-desc p-0 center animated fadeOutUpSmall" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" style="animation-duration: 350ms;">
                                <h3><a href="~/Products/RGTSFSeries">Lazer Filtre</a></h3>

                            </div>
                        </div>
                        <div class="bg-overlay-bg animated fadeOut" data-hover-animate="fadeIn" style="animation-duration: 600ms;"></div>
                    </div>
                </div>
            </div>
        </article>
       

      @*  <article class="portfolio-item col-lg-3 col-md-4 col-sm-6 col-12" style="position: absolute; left: 0%; top: 713.625px;">
            <div class="grid-inner">
                <div class="portfolio-image">
                    <a href="#">
                        <img src="~/images/alg-w-1.jpg" alt="Serigraf Anti Migrasyon">
                    </a>
                    <div class="bg-overlay">
                        <div class="bg-overlay-content flex-column not-animated" data-hover-animate="fadeIn" style="animation-duration: 600ms;">
                            <div class="portfolio-desc p-0 center not-animated" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" style="animation-duration: 350ms;">
                                <h3><a href="~/Products/ALGWSeries">ALG W SERİSİ</a></h3>

                            </div>
                        </div>
                        <div class="bg-overlay-bg not-animated" data-hover-animate="fadeIn" style="animation-duration: 600ms;"></div>
                    </div>
                </div>
            </div>
        </article>*@
       @* <article class="portfolio-item col-lg-3 col-md-4 col-sm-6 col-12" style="position: absolute; left: 25%; top: 713.625px;">
            <div class="grid-inner">
                <div class="portfolio-image">
                    <a href="#">
                        <img src="~/images/alg-tw-1.jpg" alt="Floresan Transfer">
                    </a>
                    <div class="bg-overlay">
                        <div class="bg-overlay-content flex-column animated fadeOut" data-hover-animate="fadeIn" style="animation-duration: 600ms;">
                            <div class="portfolio-desc p-0 center animated fadeOutDownSmall" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutDownSmall" data-hover-speed="350" style="animation-duration: 350ms;">
                                <h3><a href="~/Products/ALGTWSeries">ALG TW SERİSİ</a></h3>

                            </div>
                        </div>
                        <div class="bg-overlay-bg animated fadeOut" data-hover-animate="fadeIn" style="animation-duration: 600ms;"></div>
                    </div>
                </div>
            </div>
        </article>*@

     @*   <article class="portfolio-item col-lg-6 col-md-4 col-sm-6 col-12 wide" style="position: absolute; left: 50%; top: 713.624px;">
            <div class="grid-inner">
                <div class="portfolio-image">
                    <a href="#">
                        <img src="~/images/alg-tw-cs-1.jpg" alt="Reflektör Transfer">
                    </a>
                    <div class="bg-overlay">
                        <div class="bg-overlay-content flex-column animated fadeOut" data-hover-animate="fadeIn" style="animation-duration: 600ms;">
                            <div class="portfolio-desc p-0 center animated fadeOutUpSmall" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" style="animation-duration: 350ms;">
                                <h3><a href="~/Products/ALGTWCSSeries">ALG TW CS SERİSİ</a></h3>

                            </div>
                        </div>
                        <div class="bg-overlay-bg animated fadeOut" data-hover-animate="fadeIn" style="animation-duration: 600ms;"></div>
                    </div>
                </div>
            </div>
        </article>*@
       @* <article class="portfolio-item col-lg-6 col-md-4 col-sm-6 col-12 wide" style="position: absolute; left: 50%; top: 713.624px;">
            <div class="grid-inner">
                <div class="portfolio-image">
                    <a href="#">
                        <img src="~/images/rg-eco-70-1.jpg" alt="Flok Transfer">
                    </a>
                    <div class="bg-overlay">
                        <div class="bg-overlay-content flex-column animated fadeOut" data-hover-animate="fadeIn" style="animation-duration: 600ms;">
                            <div class="portfolio-desc p-0 center animated fadeOutUpSmall" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" style="animation-duration: 350ms;">
                                <h3><a href="~/Products/RGEco70">RG ECO 70 </a></h3>

                            </div>
                        </div>
                        <div class="bg-overlay-bg animated fadeOut" data-hover-animate="fadeIn" style="animation-duration: 600ms;"></div>
                    </div>
                </div>
            </div>
        </article>*@



        @*<article class="portfolio-item col-lg-6 col-md-4 col-sm-6 col-12 wide" style="position: absolute; left: 50%; top: 713.624px;">
            <div class="grid-inner">
                <div class="portfolio-image">
                    <a href="#">
                        <img src="~/images/al-hf-130-1.jpg" alt="Etiket Transfer">
                    </a>
                    <div class="bg-overlay">
                        <div class="bg-overlay-content flex-column animated fadeOut" data-hover-animate="fadeIn" style="animation-duration: 600ms;">
                            <div class="portfolio-desc p-0 center animated fadeOutUpSmall" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" style="animation-duration: 350ms;">
                                <h3><a href="~/Products/ALHF130x70">AL HF 130x70</a></h3>

                            </div>
                        </div>
                        <div class="bg-overlay-bg animated fadeOut" data-hover-animate="fadeIn" style="animation-duration: 600ms;"></div>
                    </div>
                </div>
            </div>
        </article>
*@
      @*  <article class="portfolio-item col-lg-6 col-md-4 col-sm-6 col-12 wide" style="position: absolute; left: 50%; top: 713.624px;">
            <div class="grid-inner">
                <div class="portfolio-image">
                    <a href="#">
                        <img src="~/images/al-hf-120-1.jpg" alt="Etiket Transfer">
                    </a>
                    <div class="bg-overlay">
                        <div class="bg-overlay-content flex-column animated fadeOut" data-hover-animate="fadeIn" style="animation-duration: 600ms;">
                            <div class="portfolio-desc p-0 center animated fadeOutUpSmall" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" style="animation-duration: 350ms;">
                                <h3><a href="~/Products/ALHF120x80">AL HF 120x80</a></h3>

                            </div>
                        </div>
                        <div class="bg-overlay-bg animated fadeOut" data-hover-animate="fadeIn" style="animation-duration: 600ms;"></div>
                    </div>
                </div>
            </div>
        </article>
*@







    </div>

    </div>
 

</div>
@*<div class="section m-0 bg-transparent">
    <div class="container clearfix">
        <div class="heading-block center mt-0 mx-auto border-bottom-0 clearfix" style="max-width: 700px">
            <h2>We provide best services for you.</h2>
            <p>Competently recaptiualize multifunctional schemas without an expanded array of niches. Continually engage cooperative sources vis-a-vis web-enabled benefits.</p>
        </div>
        <div class="row">
            <div class="col-lg-5 col-md-6">
                <div class="heading-block mt-md-3 mt-0">
                    <div class="before-heading color">Our Network</div>
                    <h3 class=" nott ls0">16 TBPS Capacity and 140 Data Center Global Network</h3>
                </div>
                <div class="row">
                    <div class="col-6">
                        <ul class="iconlist ms-0">
                            <li><img src="~/images/uk.png" alt="Image"><a href="#">United Kingdom</a></li>
                            <li><img src="~/images/us.png" alt="Image"><a href="#">USA</a></li>
                            <li><img src="~/images/br.png" alt="Image"><a href="#">Brazil</a></li>
                            <li><img src="~/images/sa.png" alt="Image"><a href="#">South Africa</a></li>
                            <li><img src="~/images/in.png" alt="Image"><a href="#">India</a></li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <ul class="iconlist ms-0">
                            <li><img src="~/images/si.png" alt="Image"><a href="#">Singapore</a></li>
                            <li><img src="~/images/ja.png" alt="Image"><a href="#">Japan</a></li>
                            <li><img src="~/images/au.png" alt="Image"><a href="#">Australia</a></li>
                            <li><img src="~/images/ca.png" alt="Image"><a href="#">Canada</a></li>
                            <li><a href="#">See More..</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-6">
                <div id="hotspot-img" class="hotspot-img mt-2 responsive-hotspot-wrap">
                    <img src="~/images/map.png" class="img-responsive" alt="Image">

                    <div class="hot-spot" data-x="1970" data-y="830" style="top: 234.709px; left: 557.096px; display: block;">
                        <div class="circle"></div>
                        <div class="tooltip" style="margin-left: -29.1328px; display: none;"><p>singapore</p></div>
                    </div>

                    <div class="hot-spot" data-x="330" data-y="522" style="top: 147.612px; left: 93.3207px; display: block;">
                        <div class="circle"></div>
                        <div class="tooltip" style="margin-left: -38.5469px; display: none;"><p>San Fransisco</p></div>
                    </div>

                    <div class="hot-spot" data-x="2350" data-y="1110" style="top: 313.888px; left: 664.556px; display: block;">
                        <div class="circle"></div>
                        <div class="tooltip" style="margin-left: -20.461px; display: none;"><p>Sydney</p></div>
                    </div>

                    <div class="hot-spot" data-x="1222" data-y="395" style="top: 111.699px; left: 345.569px; display: block;">
                        <div class="circle"></div>
                        <div class="tooltip" style="margin-left: -21.8672px; display: none;"><p>London</p></div>
                    </div>

                    <div class="hot-spot" data-x="1800" data-y="760" style="top: 214.915px; left: 509.022px; display: block;">
                        <div class="circle"></div>
                        <div class="tooltip" style="margin-left: -28.8906px; display: none;"><p>Bangalore</p></div>
                    </div>

                    <div class="hot-spot" data-x="2250" data-y="560" style="top: 158.358px; left: 636.277px; display: block;">
                        <div class="circle"></div>
                        <div class="tooltip" style="margin-left: -16.7656px; display: none;"><p>Tokyo</p></div>
                    </div>

                    <div class="hot-spot" data-x="1366" data-y="1134" style="top: 320.675px; left: 386.291px; display: block;">
                        <div class="circle"></div>
                        <div class="tooltip" style="margin-left: -31.2891px; display: none;"><p>Cape Town</p></div>
                    </div>

                    <div class="hot-spot" data-x="880" data-y="990" style="top: 279.954px; left: 248.855px; display: block;">
                        <div class="circle"></div>
                        <div class="tooltip" style="margin-left: -20.086px; display: none;"><p>Brasilla</p></div>
                    </div>

                    <div class="hot-spot" data-x="710" data-y="395" style="top: 111.699px; left: 200.781px; display: block;">
                        <div class="circle"></div>
                        <div class="tooltip" style="margin-left: -22.3438px; display: none;"><p>Toronto</p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@


<div class="container">
<div class="clear mb-5"></div>
<div class="row">
    
    <div class="col-lg-12 col-md-6">
        <div id="hotspot-img" class="hotspot-img mt-2 responsive-hotspot-wrap">
            <img src="~/images/map.png" class="img-responsive" alt="Image">

            <div class="hot-spot" data-x="1970" data-y="830" style="top: 234.709px; left: 557.096px; display: block;">
                <div class="circle"></div>
                <div class="tooltip" style="margin-left: -29.1328px; display: none;"><p>singapore</p></div>
            </div>

            <div class="hot-spot" data-x="330" data-y="522" style="top: 147.612px; left: 93.3207px; display: block;">
                <div class="circle"></div>
                <div class="tooltip" style="margin-left: -38.5469px; display: none;"><p>San Fransisco</p></div>
            </div>

            <div class="hot-spot" data-x="2350" data-y="1110" style="top: 313.888px; left: 664.556px; display: block;">
                <div class="circle"></div>
                <div class="tooltip" style="margin-left: -20.461px; display: none;"><p>Sydney</p></div>
            </div>

            <div class="hot-spot" data-x="1222" data-y="395" style="top: 111.699px; left: 345.569px; display: block;">
                <div class="circle"></div>
                <div class="tooltip" style="margin-left: -21.8672px; display: none;"><p>London</p></div>
            </div>

            <div class="hot-spot" data-x="1800" data-y="760" style="top: 214.915px; left: 509.022px; display: block;">
                <div class="circle"></div>
                <div class="tooltip" style="margin-left: -28.8906px; display: none;"><p>Bangalore</p></div>
            </div>

            <div class="hot-spot" data-x="2250" data-y="560" style="top: 158.358px; left: 636.277px; display: block;">
                <div class="circle"></div>
                <div class="tooltip" style="margin-left: -16.7656px; display: none;"><p>Tokyo</p></div>
            </div>

            <div class="hot-spot" data-x="1366" data-y="1134" style="top: 320.675px; left: 386.291px; display: block;">
                <div class="circle"></div>
                <div class="tooltip" style="margin-left: -31.2891px; display: none;"><p>Cape Town</p></div>
            </div>

            <div class="hot-spot" data-x="880" data-y="990" style="top: 279.954px; left: 248.855px; display: block;">
                <div class="circle"></div>
                <div class="tooltip" style="margin-left: -20.086px; display: none;"><p>Brasilla</p></div>
            </div>

            <div class="hot-spot" data-x="710" data-y="395" style="top: 111.699px; left: 200.781px; display: block;">
                <div class="circle"></div>
                <div class="tooltip" style="margin-left: -22.3438px; display: none;"><p>Toronto</p></div>
            </div>
            <div class="hot-spot" data-x="710" data-y="395" style="top: 150.699px; left: 200.781px; display: block;">
                <div class="circle"></div>
                <div class="tooltip" style="margin-left: -22.3438px; display: none;"><p>Toronto</p></div>
            </div>
            <div class="hot-spot" data-x="710" data-y="395" style="top: 111.699px; left: 150.781px; display: block;">
                <div class="circle"></div>
                <div class="tooltip" style="margin-left: -22.3438px; display: none;"><p>Toronto</p></div>
            </div>
            <div class="hot-spot" data-x="710" data-y="395" style="top: 200.699px; left: 250.781px; display: block;">
                <div class="circle"></div>
                <div class="tooltip" style="margin-left: -22.3438px; display: none;"><p>Toronto</p></div>
            </div>
            <div class="hot-spot" data-x="710" data-y="395" style="top: 111.699px; left: 200.781px; display: block;">
                <div class="circle"></div>
                <div class="tooltip" style="margin-left: -22.3438px; display: none;"><p>Toronto</p></div>
            </div>
            <div class="hot-spot" data-x="710" data-y="395" style="top: 111.699px; left: 200.781px; display: block;">
                <div class="circle"></div>
                <div class="tooltip" style="margin-left: -22.3438px; display: none;"><p>Toronto</p></div>
            </div>
        </div>
    </div>
</div>
</div>
@*<div class="section dark m-0 border-0" style="height: 550px;">
    <div class="container-fluid vertical-middle center clearfix">
     <i class="i-plain i-large icon-line-video mx-auto fadeInDown animated" data-animate="fadeInDown"></i>
     <div class="emphasis-title m-0 fadeInUp animated" data-animate="fadeInUp">
            <h2 style="font-size: 56px;">Section with HTML5 Video</h2>
        </div>
    </div>
    <div class="video-wrap">
        <video poster="~/images/erema.webp" preload="auto" loop="" autoplay="" muted="" style="width: 1903px; height: 1070.44px; top: -260.219px;">
            <source src="~/images/erema.webp" type="video/webm">
            <source src="~/images/erema.webp" type="video/mp4">
        </video>
        
    </div>
</div>
*@



<div class="clear mb-5"></div>

<div id="Contact" class="divider divider-rounded divider-center">
    <i class="icon-map-marker"></i>
</div>


<div class="page-section pt-0" data-onepage-settings="{&quot;offset&quot;:65,&quot;speed&quot;:&quot;1250&quot;,&quot;easing&quot;:&quot;easeInOutExpo&quot;}" data-scrollto-settings="{&quot;offset&quot;:70,&quot;speed&quot;:1250,&quot;easing&quot;:&quot;easeOutQuad&quot;}">

    <div class="row mx-0 bottommargin-lg align-items-stretch">
        <div class="col-lg-8 col-md-6 d-none d-md-block px-0">
            <iframe class="gmap h-100" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d96275.59730094606!2d28.569737886044937!3d41.055604197888016!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14b558ce3f4e762d%3A0x784091b56c3852a3!2sAltech%20Makine%20Sanayi%20ve%20Ticaret%20Anonim%20%C5%9Eirketi%20(ALTECH%20RECYCLING%20TECHNOLOGY)!5e0!3m2!1str!2str!4v1673067536438!5m2!1str!2str"></iframe>
        </div>
        <div class="col-lg-4 col-md-6" style="background-color: #F5F5F5;">
            <div class="col-padding">
                <h3 class="font-body fw-normal ls1">
                    <strong>
                        Altech Makine Sanayi ve Ticaret Anonim Şirketi
                    </strong>
                </h3>

                <div style="font-size: 16px; line-height: 1.7;">
                    <address style="line-height: 1.7;">

                        Akçaburgaz Mh. 3137 Sk. No: 22<br>
                        Esenyurt / İstanbul Turkiye

                        <br>
                    </address>





                    <div class="clear topmargin"></div>

                    <abbr title="Phone Number"><strong>Telefon Numarası:</strong></abbr> +90 212 505 22 73<br>
                    <abbr title="Phone Number"><strong>Telefon Numarası:</strong></abbr> +90 212 505 22 74<br>
                    <abbr title="Fax"><strong>Fax:</strong></abbr>+90 212 505 22 39 <br>
                    <abbr title="Email Address"><strong>E-Posta:</strong></abbr>   altech@altechmakina.com
                </div>

                <div class="clear topmargin"></div>
                <h4 class="font-body fw-normal ls1">Çalışma Saatlerimiz</h4>
                <abbr title="Work Hour"><strong>Pazartesi-Cuma : </strong></abbr> 8:30 - 19:00<br>
                <abbr title="Weekend"><strong>Cumartesi-Pazar: </strong></abbr> Kapalı <br>

            </div>
        </div>
    </div>
</div>
