<div class="section">
    <div class="container">
        <div class="heading-block center">
            <h2>Müşteri Servis</h2>
            
        </div>
        <div class="row col-mb-50">
            <div class="col-lg-8 text-center text-lg-start">
                <img data-animate="fadeInLeftBig" src="~/images/male-worker-factory_1303-14306.webp" alt="iPhone" class="fadeInLeftBig animated">
            </div>
            
            <div class="col-lg-4 col-md-6 topmargin">
                <br />
                <br />
                <div class="w-100 mb-5">
                    <div class="feature-box fbox-plain fbox-sm fbox-dark">
                        <div class="fbox-icon">
                            <a href="#"><i class="icon-line-monitor"></i></a>
                        </div>
                        <div class="fbox-content">
                            <h3>
                                Altech Çalışma Saatleri

                            </h3>
                            <p>Haftaiçi: 7:30 - 17:30</p>
                        </div>
                    </div>
                </div>
                <div class="w-100 mb-5">
                    <div class="feature-box fbox-plain fbox-sm fbox-dark">
                        <div class="fbox-icon">
                            <a href="#"><i class="icon-line-eye"></i></a>
                        </div>
                        <div class="fbox-content">
                            <h3>Servis Tel: </h3>
                            <p>+90 212 886 17 38</p>
                        </div>
                    </div>
                </div>
                <div class="w-100">
                    <div class="feature-box fbox-plain fbox-sm fbox-dark">
                        <div class="fbox-icon">
                            <a href="#"><i class="icon-line-power"></i></a>
                        </div>
                        <div class="fbox-content">
                            <h3>Servis E Mail</h3>
                            <p>servis@altechmakina.com</p>
                        </div>
                    </div>
                </div>
            </div>
           @* <div class="col-lg-4 col-md-6 topmargin">
                <div class="w-100 mb-5">
                    <div class="feature-box fbox-plain fbox-sm fbox-dark">
                        <div class="fbox-icon">
                            <a href="#"><i class="icon-line-layers"></i></a>
                        </div>
                        <div class="fbox-content">
                            <h3>Premium Sliders Included</h3>
                            <p>Canvas included 20+ custom designed Slider Pages with Premium Sliders like Layer, Revolution, Swiper &amp; others.</p>
                        </div>
                    </div>
                </div>
                <div class="w-100 mb-5">
                    <div class="feature-box fbox-plain fbox-sm fbox-dark">
                        <div class="fbox-icon">
                            <a href="#"><i class="icon-line-star"></i></a>
                        </div>
                        <div class="fbox-content">
                            <h3>Unlimited Color Options</h3>
                            <p>Change the Color Scheme of the Theme in a flash just by changing the 6-digit HEX code provided in the colors.php file.</p>
                        </div>
                    </div>
                </div>
                <div class="w-100">
                    <div class="feature-box fbox-plain fbox-sm fbox-dark">
                        <div class="fbox-icon">
                            <a href="#"><i class="icon-line-anchor"></i></a>
                        </div>
                        <div class="fbox-content">
                            <h3>CUSTOMIZABLE FONTS</h3>
                            <p>Use any Font you like from Google Web Fonts, Typekit or other Web Fonts. They will blend in perfectly.</p>
                        </div>
                    </div>
                </div>
            </div>*@
        </div>
    </div>
</div>